[core]
	editor = \"C:\\Users\\arne.halvorsen\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[core]
  editor = code --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[user]
	name = Arne Halvorsen
	email = arne.halvorsen@scaleaq.com
[alias]
	c = commit
	s = status
	rurl = remote -v
